
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_1.cshtml";
}
@model Memeni.Models.ViewModels.ItemViewModel<int>
<div>
    <div ng-controller="ManageController as ManageCtr">
        <input type="hidden" value="@Model.Item" id="modelId" />
        <!-- Heading -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Privacy Policy</h2>
                <ol class="breadcrumb">
                    <li>
                        <a ng-click="ManageCtr.adminButton()">Admin</a>
                    </li>
                    <li>
                        <a ng-click="ManageCtr.viewsButton()">Policy</a>
                    </li>
                    <li class="active">
                        <strong ng-cloak>{{ManageCtr.route}}</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <!-- End Heading -->
        <!-- Test New Form with Rich Text Editor -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="mail-box-header">
                            <h2 ng-cloak>{{ManageCtr.headerOrParagraph}}</h2>
                        </div>
                        <!-- Test Content -->
                        <div class="mail-box">
                            <div class="mail-body">
                                <form class="form-horizontal" method="get">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Title:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="ManageCtr.storePolicy.title">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="mail-text h-200">
                                <summernote ng-model="ManageCtr.storePolicy.description"></summernote>
                                <div class="clearfix"></div>
                            </div>
                            <div class="mail-body text-right tooltip-demo">
                                <a href="" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Submit" ng-click="ManageCtr.submitButton()"><i class="fa fa-reply"></i> Submit</a>
                                <a href="/admin/privacypolicy/index" class="btn btn-white btn-s" data-toggle="tooltip" data-placement="top"
                                   title="" data-original-title="Cancel"><i class="fa fa-times"></i> Cancel</a>
                            </div>
                            <div class="hidden">
                                <input ng-model="ManageCtr.storePolicy.parentId"
                                       id="parentId"
                                       name="parentId"
                                       type="text"
                                       class="form-control input-md" required>
                                <input ng-model="ManageCtr.storePolicy.displayOrder"
                                       id="displayOrder"
                                       name="displayOrder"
                                       type="text"
                                       class="form-control input-md"
                                       required>
                                <input ng-model="ManageCtr.storePolicy.modifiedBy"
                                       id="modifiedBy"
                                       name="modifiedBy"
                                       type="text"
                                       class="form-control input-md"
                                       required>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- End Test Content -->
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/summernoteStyles")
}
@section scripts{
    <script src="~/Scripts/PrivacyPolicy/ManageController.js"></script>
    <script src="~/Scripts/PrivacyPolicy/PrivacyService.js"></script>
    <script src="~/Scripts/AdminNavigation/adminNavService.js"></script>
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/summernote")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            $('.summernote').summernote();
        });
    </script>
}